/* #timeline-chart {

  } */

  .rv-xy-plot__grid-lines__line {
    stroke: gray;
    stroke-width: 1;
  }

#bg-fade {
  
  background: rgb(33,186,69);
  background: linear-gradient(90deg, rgba(33,186,69,0.5) 20%, rgba(251,189,8,0.5) 49%, rgba(219,40,40,0.5) 80%);
  
}
/* background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(47,236,112,0.7959558823529411) 5%, rgba(218,228,44,0.8281687675070029) 48%, rgba(255,0,0,0.6601015406162465) 95%, rgba(255,255,255,0) 100%); */
/* #bg-fade {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(140,236,47,0.7959558823529411) 5%, rgba(218,228,44,1) 48%, rgba(255,0,1,0.804359243697479) 95%, rgba(255,255,255,0) 100%);
} */

#stickyMeasure{
  height: 1px;
}

#sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* height: 25vh; */
    width: 100%;
    background: #fff;
    opacity: 0.9;
   filter: alpha(opacity=50);
   z-index: 100;
   text-align: center;
}

#sticky-table{
  margin: 0;
  padding-top:0;
  /* padding-left: 18vw;
  padding-right: 20vw; */
  text-align: center;
  /* height: 20vh; */
}

.rv-xy-plot__series--label-text{
  /* color: #00ff80 !important; 
  fill: #00ff80 !important;  */
}


.ui.table tr td { border: 0px !important; }
.ui.table { border: 0px !important; }